/*--------------------------------------------
Global Colors
---------------------------------------------*/

// Global
$black: #000000;
$gray: rgba(#000000, 0.5);
$white: #fff;
$blue: #0000ff;
$red:#CB4A4A;
$green:#8ADD56;


// Line gradient
$lineblue : #e8f9ff;
$linepurple : #e1dfff;
$linepink : #deceff;